# Python cache & compiled files
__pycache__
*.py[cod]

# Virtual environments
.venv
venv

# IDE configuration
.vscode/
.idea/

#otros
analysis_output
docs
logs
last_masks.csv
last_neg_ctrl_masks.csv
section_grays.csv
plate_data.db
tmp
